*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111111;
}
.container
{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: #080808;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px #88888a;
    overflow: hidden;
}
.container:hover .card
{
    opacity: 0.2;
}
.container .card:hover
{
    opacity: 1;
}
.container .card::before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: #353435;
    pointer-events: none;
    opacity: 0.2;

}
.container .card .content
{
    padding: 30px;
    text-align: center;
}
.container .card .content h2
{
    position: absolute;
    right: 30px;
    font-size: 4em;
    font-weight: 800;
    color: #FC2200;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}
.container .card:hover .content h2
{
    opacity: 1;
    transform: translateY(-70px);
}
.container .card .content h3
{
    font-size: 2em;
    padding: 2px;
    font-weight: 800;
    color: #ffffff;
}
.container .card .content p
{
    position: relative;
    font-size: 1em;
    color: #ffffff;
    z-index: 2;
    opacity: 0.5;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.5s;
}
.container .card:hover .content h3
{
    opacity: 1;
}
.container .card .content a
{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: linear-gradient(#FC2200, #D5FF02);
    color: #111111;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
}
.container .card span
{
    transition: 0.5;
    opacity: 0;
}
.container .card:hover span
{
    opacity: 1;
}
.container .card span:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, transparent,#FC2200,#D5FF02);
    animation: animate1 2s linear infinite;

}
@keyframes animate1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
.container .card span:nth-child(2)
{
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, transparent,#FC2200,#D5FF02);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;

}
@keyframes animate2
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}
.container .card span:nth-child(3)
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left, transparent,#FC2200,#D5FF02);
    animation: animate3 2s linear infinite;

}
@keyframes animate3
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
.container .card span:nth-child(4)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, transparent,#FC2200,#D5FF02);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;

}
@keyframes animate4
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}


